a{
    text-decoration: none;
}
#signupwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#signupform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    width: 300px;
    background-color: black;
    color: white;
}
#signupformcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.signupinps{
    margin: 10px;
    width: 240px;
    height: 20px;
    padding: 5px;
}
#signupformcontent button{
    width: 150px;
    height: 30px;
    padding: 0;
}